.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}
.weight-500 {
  font-weight: 500;
}
.weight-300 {
  font-weight: 300;
}
